<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ürün Sil</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main1.css') }}">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/util1.css') }}">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/animate/animate1.css') }}">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/css-hamburgers/hamburgers.min.css') }}">

	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='vendor/select2/select2.min.css') }}">

	<link rel= "stylesheet" type= "image/png" href= "{{ url_for('static',filename='images/icons/favicon.ico') }}">


</head>
<body>
	{% if yetki %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="static/images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" role="form" action="{{url_for('urunsil')}}" method="POST">
					<span class="login100-form-title">
						Ürün Sil
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid urunadi is required">
						<input class="input100" type="text" name="aranan" placeholder="Silinecek Ürün Adı">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-o" aria-hidden="true"></i>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Ürün Sil
						</button>
					</div>
					<br><a href="/">Ana sayfaya dönmek için tıklayınız</a>
					
					<div class="text-center p-t-136">
						
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="js/main1.js"></script>
	{% else %}
		<div style="text-align: center; margin-top: 30px;">
			<H1>BU SAYFAYA ERİŞİM İZNİNİZ YOKTUR</H1><br>
			<a href="/">Ana sayfaya dönmek için tıklayınız</a>
		</div>
{%endif%}
</body>

</html>